@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager;
@model HomeQuest.Models.Property
@{
ViewData["Title"] = @Model.Title;
}

<div class="breadcrumb-section another-breadcrumb-section wf-section">
    <div class="container w-container">
        <div class="breadcrumb-wrapper another-breadcrumb-section">
            <div class="breadcrumb-content another-breadcrumb-section">
                <div class="breadcrumb-sub-heading another-breadcrumb-section"><span class="p-1 text-white rounded"
                        style="background-color: #ff6500;">@Model.Status</span></div>
                <h1 class="breadcrumb-main-heading another-breadcrumb-section">@Model.Title</h1>
                <p class="breadcrumb-details-content another-details-content">Huge number of propreties availabe here
                    for buy and sell, also you can find here co-living property</p>
            </div>
        </div>
    </div>
</div>
<div class="blank-space-section wf-section"></div>

<div class="properties-details-section wf-section">
    <div class="container w-container">
        <div class="properties-details-wrapper">
            <div class="propertise-details-side">
                <div class="properties-details-inner">
                    @* --- leftside content ---- *@
                    @* image carousel *@
                    @if (ViewBag.urlList != null){
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        @{int i = 0;}
                        @foreach (var url in ViewBag.urlList)
                        {   
                            i++;
                            var active = i == 1 ? "active":"";
                            <div class="carousel-item @active">
                            <img src="@url" class="d-block w-100 rounded" alt="image @i" height="400px">
                            </div>
                        }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    }
                    @* -------------- *@ 
                    <div class="d-flex justify-content-end mt-2">
                         @if (signInManager.IsSignedIn(User) && userManager.GetUserId(User).Equals(Model.AgentId)){
                        <form asp-controller="Property" asp-action="image" method="post" class="add-properties-form"
                            enctype="multipart/form-data">
                            <input asp-for="Id" value=@Model.Id hidden/>
                            <button class="button w-button" style="margin-right:5px;">
                                Upload Image
                            </button>
                        </form>

                         <form asp-controller="Property" asp-action="GetPropertyToUpdate" method="post" class="add-properties-form"
                            enctype="multipart/form-data">
                            <input hidden asp-for="Id" value=@Model.Id></input>
                            <Input type = "submit" value ="Edit Property" class="button w-button" style= "color:white; "/>
                        </form>
                         }
                    </div>
                    <div class="properties-details-top">
                        <div><span class="p-1 text-white rounded" style="background-color: #ff6500;">@Model.Type</span>
                        </div>
                        <h2 class="properties-details-title">@Model.Title</h2>
                        <div class="properties-location-address properties-details-page">@Model.Address, @Model.PostalCode</div>
                        <p class="properties-details-text">@Model.Description</p>
                    </div>

                    <div class="property-facilities">
                        <h3 class="properties-facilites-heading">Property Features</h3>
                        <div class="properties-facilities-wrapper">
                            <div class="single-facilities">
                                <img src="https://assets.website-files.com/5d2360eb6156a611684e0077/5d2603de6c978835bb853f99_cama.svg"
                                    width="30" height="30" alt="bed Icon" class="facilities-icon" />
                                <div class="facilities-text">
                                    <h4 class="section-color-shape">@Model.BedroomCount <span>Bedrooms</span></h4>
                                </div>
                            </div>
                            <div class="single-facilities">
                                <img src="https://assets.website-files.com/5d2360eb6156a611684e0077/5d2603de528d2e2aa8bf8e81_ducha.svg"
                                    width="25" height="25" alt="bath Icon" class="facilities-icon" />
                                <div class="facilities-text">
                                    <h4 class="section-color-shape">@Model.BathroomCount <span>Bathrooms</span></h4>
                                </div>
                            </div>
                            <div class="single-facilities">
                                <img src="https://assets.website-files.com/5d2360eb6156a611684e0077/5d2603de03e4102bf23c62a0_Car.png"
                                    width="25" height="25" alt="car Icon" class="facilities-icon" />
                                <div class="facilities-text">
                                    <h4 class="section-color-shape">@Model.GarageCont <span>Garages</span></h4>
                                </div>
                            </div>
                            <div class="single-facilities">
                                <img src="https://assets.website-files.com/5d2360eb6156a611684e0077/5d2603de6c9788cef7853f98_anteproyecto.svg"
                                    width="25" height="25" alt="area Icon" class="facilities-icon" />
                                <div class="facilities-text">
                                    <h4 class="section-color-shape">@Model.FloorArea <span>Sq Feet</span></h4>
                                </div>
                            </div>
                            <div class="single-facilities">
                                <img src="https://assets.website-files.com/5d2360eb6156a611684e0077/5d2603de6c9788cef7853f98_anteproyecto.svg"
                                    width="25" height="25" alt="area Icon" class="facilities-icon" />
                                <div class="facilities-text">
                                    <h4 class="section-color-shape">Built In @Model.YearBuilt.Year</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-5">
                       @* here was the update button *@
                    </div>
                    @* ----map----- *@
                    @* <div class="mb-3">
                        <h3 class="properties-facilites-heading">Place on Map<span class="section-color-shape">.</span>
                        </h3>
                        <div class="floor-plan-wrapper w-dyn-list">
                            <script
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4j0qdZp-SFab15F-vWwJD8N8MQCrf_Qc&callback=initMap&v=weekly"
                                defer></script>
                            <div class=" w-dyn-items">
                                <div>
                                    <div class="map-inner w-richtext">
                                        <figure style="padding-bottom:75%"
                                            class="w-richtext-align-fullwidth w-richtext-figure-type-video">
                                            <div id="map">
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="w-dyn-hide w-dyn-empty">
                                <div>No items found.</div>
                            </div>
                        </div>
                    </div> *@
                    @*
                    <script> *@
                        @* // 1.---Initialize and add the map(static API) *@
                        @* function initMap() {
                            let geocoder = new google.maps.Geocoder();
                            let uluru;
                            geocoder
                                .geocode({ address: "Montreal" })
                                .then((result) => {
                                    const { results } = result;
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        uluru = results[0].geometry.location;
                                    } else {
                                        //the address is invalid
                                        uluru = { lat: 45.5019, lng: -73.5674 };
                                    }
                                    // The map, centered at Uluru
                                    const map = new google.maps.Map(document.getElementById("map"), {
                                        zoom: 15,
                                        center: uluru,
                                    });
                                    // The marker, positioned at Uluru
                                    const marker = new google.maps.Marker({
                                        position: uluru,
                                        map: map,
                                    });
                                });
                        } *@
                    @* </script> *@
                    @* ------script------ *@
                    
                </div>
            </div>
            @* --leftside content ends-- *@

            @* right side *@
            @if (TempData["message"] != null)
            {
                     <h3 class="mb-3">@TempData["message"].ToString()</h3>
            }
            else if (signInManager.IsSignedIn(User))
            {
             <div class="properties-sidebar">
                <div class="sidebar-box rounded">
                    <h3 class="sidebar-heading">Make an Offer? <span class="section-color-shape">.</span></h3>
                        <div class="">
                            <form  asp-controller="Property" asp-action="SendOfferToAgent" method="post">
                                <div class="mb-3">
                                    <label >Offer Amount</label>
                                    <input  type="int" class="properties-form-field w-input" placeholder="Offer Amount" required name="OfferAmount"/>
                                </div>
                                <div class="mb-3">
                                    <label >Message</label>
                                    <input  type="text" class="properties-form-field w-input" placeholder="Leave your message here." name="OfferMessage" style="height:100px;" />
                                    <input  type="number" hidden  name="PropertyId" value="@Model.Id" />
                                    <input  type="number" hidden name="UserId" value="@userManager.GetUserId(User)" />
                                    <input type="hidden" name="actionType" value="2" />
                                </div>
                                <input type="submit" value="Submit your offer" class="button w-button" />
                            </form>
                        </div>
               </div>
            </div>
            }
            @* ---- *@
    </div>
</div>

