@page
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@* <h3>@ViewData["Title"]</h3> *@
<partial name="_StatusMessage" for="StatusMessage" />

<div class="breadcrumb-section another-breadcrumb-section wf-section">
    <div class="container w-container">
        <div class="breadcrumb-wrapper another-breadcrumb-section">
            <div class="breadcrumb-content another-breadcrumb-section">
                <div class="breadcrumb-sub-heading another-breadcrumb-section"><span class="p-1 text-white rounded"
                        style="background-color: #ff6500;">Profile</span></div>
                <h1 class="breadcrumb-main-heading another-breadcrumb-section">Welcome, @Model.Username</h1>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
        <div class="row my-5" >
            <div class="col-4 ms-1 d-flex justify-content-center">
                <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/623be93102def05b04fea5cd_image2.png"
                    loading="lazy" alt="Register Image" class="login-image rounded"/>
            </div>
            <div class="col-7 position-relative ps-3" style="height: 450px;">
                <h1 style="color:#01614e;">Profile</h1>
                <form id="profile-form" method="post">
                
                <div class="mb-2"><b>Username:</b> @Model.Username</div>
                <div class="mb-2"><b>UserId:</b> @Model.UserId</div>
                <div class="mb-2"><b>License Number:</b> @Model.LicenseNumber</div>
                <div class="mb-2"><b>Agent Expire Date:</b> @Model.ExpireDate</div>
                <div class="mb-2"><b>Agent is Accepted:</b> @Model.IsApproved</div>
                 @if(signInManager.IsSignedIn(User) && this.User.IsInRole("Agent")){
                <div class="row form-group mb-2">
                    <label class="col-2">First Name:</label> 
                    <div class="col-4">
                        <input asp-for="Input.FirstName" class="form-control " placeholder="Please enter your First Name." value=" @Model.FirstName"/>
                    </div>
                </div>
                <div class="row form-group mb-2">
                    <label class="col-2">Last Name:</label> 
                    <div class="col-4">
                        <input asp-for="Input.LastName" class="form-control col-4" placeholder="Please enter your First Name." value=" @Model.LastName"/>
                    </div>
                </div>
                <div class="row position-absolute bottom-0 start-10 mt-3">
                    <button id="update-profile-button" type="submit" class="button" style="background-color: #ff6500;">Save</button>
                </div>
               
                 }
                <div class="position-absolute bottom-0 start-50 mt-3"><a class="button nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Change Password</a></div>
                    
                </form>
            </div>
        </div>
        @if(signInManager.IsSignedIn(User) && this.User.IsInRole("Agent")){
        @* Agent *@
        <div class="row mt-5 d-flex justify-content-center">
            <h3>My Properties</h3>
            <table class="table table-hover rounded">
                <thead>
                    <tr class="rounded" style="background-color: #01614e; color: #f5f9f8;">
                        <th>#Property</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Create Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i=0;}
                    @foreach (var item in Model.propertyList)
                    {
                        i++;
                        <tr onclick="window.location ='@Url.Action("Detail","Property", new {id = @item.Id})'">
                            <td>@i</td>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.Status</td>
                            <td>@item.CreatedAt</td>
                            <td><a asp-controller="Property" asp-action="Detail" asp-route-id="@item.Id">Details</a></td>
                        </tr>
                    
                    }   
                </tbody>
            </table> 
        </div>
        @* agent offer  *@
        <div class="row mt-5 d-flex justify-content-center">
            <h3>My Offer</h3>
            <table class="table table-hover rounded">
                <thead>
                    <tr class="rounded" style="background-color: #01614e; color: #f5f9f8;">
                        <th>#Offer</th>
                        <th>Id</th>
                        <th>Property Title</th>
                        <th>Offer Amount</th>
                        <th>Offer Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int k=0;}
                    @foreach (var offer in Model.offerList)
                    {
                        k++;
                        <tr onclick="window.location ='@Url.Action("Detail","Property", new {id = @offer.PropertyId})'">
                            <td>@k</td>
                            <td>@offer.Id</td>
                            @foreach (var item in Model.propertyList)
                            {
                                if(item.Id == offer.PropertyId){
                                    <td>@item.Title</td>
                                }
                            }
                            <td>@offer.OfferAmount</td>
                            <td>@offer.OfferDate</td>
                            <td><a asp-controller="Property" asp-action="Detail" asp-route-id="@offer.PropertyId">Details</a></td>
                        </tr>
                    
                    }   
                </tbody>
            </table> 
        </div>
                    }

        @if(signInManager.IsSignedIn(User) && this.User.IsInRole("Agent")==false && this.User.IsInRole("Administer")==false){
        @* buyer *@
         <div class="row mt-5 d-flex justify-content-center">
            <h3>My Favorites</h3>
            <table class="table table-hover rounded">
                <thead>
                    <tr class="rounded" style="background-color: #01614e; color: #f5f9f8;">
                        <th>#Property</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Create Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int j=0;}
                    @foreach (var item in Model.favoriteList)
                    {
                        @foreach (var favorite in item.Favorites)
                        {
                            @if(favorite.UserId == @Model.UserId){
                                j++;
                                <tr onclick="window.location ='@Url.Action("Detail","Property", new {id = @item.Id})'">
                                    <td>@j</td>
                                    <td>@item.Id</td>
                                    <td>@item.Title</td>
                                    <td>@item.Status</td>
                                    <td>@item.CreatedAt</td>
                                    <td><a asp-controller="Property" asp-action="Detail" asp-route-id="@item.Id">Details</a></td>
                                </tr>
                            }
                        }
                        
                    
                    }   
                </tbody>
            </table> 
        </div>
        @* agent offer  *@
        <div class="row mt-5 d-flex justify-content-center">
            <h3>My Offer</h3>
            <table class="table table-hover rounded">
                <thead>
                    <tr class="rounded" style="background-color: #01614e; color: #f5f9f8;">
                        <th>#Offer</th>
                        <th>Id</th>
                        <th>Property Title</th>
                        <th>Offer Amount</th>
                        <th>Offer Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int p=0;}
                    @foreach (var offer in Model.offerList)
                    {
                        p++;
                        <tr onclick="window.location ='@Url.Action("Detail","Property", new {id = @offer.PropertyId})'">
                            <td>@p</td>
                            <td>@offer.Id</td>
                            @foreach (var item in Model.propertyList)
                            {
                                if(item.Id == offer.PropertyId){
                                    <td>@item.Title</td>
                                }
                            }
                            <td>@offer.OfferAmount</td>
                            <td>@offer.OfferDate</td>
                            <td><a asp-controller="Property" asp-action="Detail" asp-route-id="@offer.PropertyId">Details</a></td>
                        </tr>
                    
                    }   
                </tbody>
            </table> 
        </div>
                  
                    }
</div>
@* ----------------- *@
@* <div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
