@model IEnumerable<HomeQuest.Models.Property>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "HomeQuest";
}

<div class="hero-section wf-section">
     @* search bar *@
    <section class="search-sec">
        <div class="container">
            <form asp-controller="Property" asp-action="FilterProperty" method="Post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt location-icon left-radius"
                                        value="Search By Address" name="PropertyAddress" aria-required="false">
                                </div>
                                @* <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                    <select class="form-select form-control search-slt">
                                        <option selected>City</option>
                                        <option value="0">Montreal</option>
                                        <option value="1">Laval</option>
                                    </select>
                                </div> *@
                                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                    <select type="number" id="PropertyTypeFilter" name="PropertyTypeFilter" class="form-select form-control search-slt">
                                        <option>Property Type</option>
                                        <option value="0">All</option>
                                        <option value="10">House</option>
                                        <option value="20">Apartment</option>
                                        <option value="30">Duplex</option>
                                        <option value="40">TownHouse</option>
                                        <option value="50">Condo</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                    <button value="Price" class="wrn-btn dropdown-toggle p-0 rounded" type="button" data-bs-toggle="dropdown" aria-expanded="false" 
                                    style="background-color: #ffffff; color:#707579; border:1px solid #ccc; font-size:1rem;">
                                        <span>Price</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <div class="container">
                                            <div class="mb-3">
                                                <h4 for="PropertyTypeFilter">Price Range</h4>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span for="PropertyMinPriceFilter" class="input-group-text" id="inputGroup-sizing-default">Min Price</span>
                                                <input type="number" name="PropertyMinPriceFilter" min="10000" class="form-control" aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-default">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span for="PropertyMaxPriceFilter" class="input-group-text" id="inputGroup-sizing-default">Max Price</span>
                                                <input type="number" name="PropertyMaxPriceFilter" min="100000000" type="text" class="form-control" aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-default">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="submit" class="btn wrn-btn right-radius" value="Search">
                                </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    @* ------- *@
    <div class="container position-realtive w-container">
        <div class="hero-wrapper">
            <div class="hero-content">
                <div class="hero-content-top-block">
                    <div class="hero-intro-text">A new way to find Properties</div>
                    <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/622583405671972ffe53fedc_spinin-image.png"
                        loading="lazy" alt="Spinin Image" class="spainin-image" />
                </div>
                <h1 class="hero-title">Find your Most Suitable Property</h1>
                <p class="hero-description-text">Huge number of propreties availabe here for buy, and sell, also you can
                    find here co-living property, So you have lots of opportunity.</p>
                <a asp-area="" asp-controller="Home" asp-action="Contact" class="button w-button">Contact Us</a>
                <div class="hero-qusetion-block">
                    <div class="question">Have a question?</div>
                    <a class="number">+514-000-1234</a>
                </div>
            </div>
        </div>
        <div class="hero-image-block">
            <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/622495d2dd39aff8c5b4a76e_hero-image.png"
                loading="lazy" alt="Hero Large Image" class="large-image" />
            <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/62249d6de2f1f8a4dcb8301b_small-image-one.png"
                loading="lazy" alt="Hero Small Image" class="small-image-one" />
            <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/62249d63fbfee674432551cf_small-image-three.png"
                loading="lazy" alt="Hero Small Image" class="small-image-two" />
            <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/62249d64acea247a8cedba2e_small-image-two.png"
                loading="lazy" alt="Hero Small Image" class="small-image-three" />
        </div>
    </div>
    <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/622eb8abe78c33eaaa83e978_small-image-four.png"
        loading="lazy" alt="Hero Design Image" class="small-image-four" />
</div>

<div class="popular-properties-section wf-section">
    <div class="container">
        <div class="section-title">
            <div class="subtitle"></div>
            <div class="title-block">
                <h2 class="title">Recently Added Properties</span>
                </h2>
                <a data-w-id="b7a70601-c45c-3359-9d83-6f05a7e659ae" asp-area="" asp-controller="Property"
                    asp-action="Index" class="explore-link w-inline-block">
                    <div class="link-text">Explore all</div>
                    <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/624e60a08c6773d17f4f78bf_arrow-black.svg"
                        loading="lazy"
                        style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                        alt="Arrow Icon" class="arrow-icon" />
                </a>
            </div>
        </div>

        <div class="all-properties-wrapper">
            <div fs-cmssort-element="list" fs-cmsfilter-element="list" class="propertise-list-wrapper w-dyn-list">
                <div role="list" class="properties-wrapper w-dyn-items w-row">

                    @foreach (var item in Model)
                    {
                        <a asp-area="" asp-controller="Property" asp-action="Detail" asp-route-id="@item.Id">
                            <div role="listitem" class="single-properties w-dyn-item w-col w-col-4">
                                <div class="single-properties-item">
                                    @if(item.Images.Count() != 0){
                                        bool hasPrimaryImage = false;
                                        @foreach (var image in item.Images)
                                        {
                                            @if (image.IsPrimaryImage == true){
                                                hasPrimaryImage = true;
                                                    <div class="properties-image-block">
                                                    <img loading="lazy" src="@image.URL" alt="Properties Thumbnail Image " class="properties-image" width="370px" height="246px"/>
                                                    <div asp-for="Status" class="properties-badge">@item.Status</div>
                                                </div>
                                            }  
                                        }
                                        @if(hasPrimaryImage == false){
                                            <div class="properties-image-block">
                                                <img loading="lazy" src="@item.Images.ElementAt(0).URL" alt="Properties Thumbnail Image " class="properties-image" width="370px" height="246px"/>
                                                <div asp-for="Status" class="properties-badge">@item.Status</div>
                                            </div>
                                        }
                                        
                                    }else{
                                        <div class="properties-image-block">
                                            <img loading="lazy" src="https://assets.website-files.com/622596ceb2da993727fc3dbe/6225dd4eb2da993199fe0d98_properties7.jpg" alt="Properties Thumbnail Image " class="properties-image" width="370px" height="246px"/>
                                            <div asp-for="Status" class="properties-badge">@item.Status</div>
                                        </div>
                                    } 
                                    <div class="properties-description-content">
                                        <a asp-area="" asp-controller="Property" asp-action="Detail" asp-route-id="@item.Id"
                                        class="properties-title">@item.Title</a>
                                        <div fs-cmsfilter-field="city" class="properties-location">@item.Address</div>
                                        <div class="properties-added-date-block">
                                            <div class="properties-added-text">Added:</div>
                                            <div class="properties-added-date">@item.CreatedAt</div>
                                        </div>
                                        <div class="properties-price-box">
                                            <div class="line-shape"></div>
                                            <div class="properties-price-block">
                                                <div class="properties-price-text">Price: $</div>
                                                <div fs-cmsfilter-field="price" class="properties-price-amount">
                                                    @item.Price</div>
                                            </div>
                                        </div>
                                        <div class="properties-description">
                                            <div fs-cmsfilter-field="square feet" class="number-of-square-feet">
                                                @item.LotArea</div>
                                            <div class="square-feet-text">Sq.fit</div>
                                            <div class="dash-shape"></div>
                                            <div fs-cmsfilter-field="bedrooms" class="number-of-bedroom">
                                                @item.BedroomCount</div>
                                            <div class="bed-text">Bed</div>
                                            <div class="dash-shape"></div>
                                            <div fs-cmsfilter-field="bathrooms" class="number-of-bathroom">
                                                @item.BathroomCount</div>
                                            <div class="bath-text">Bath</div>
                                            <div class="dash-shape"></div>
                                            <div fs-cmsfilter-field="garages" class="number-of-garage">@item.GarageCont
                                            </div>
                                            <div class="garage-text">Garage</div>
                                        </div>
                                        @{bool isFavorite = false;}
                                        @if(signInManager.IsSignedIn(User) && this.User.IsInRole("Agent")==false && this.User.IsInRole("Administer")==false){
                                        @foreach(var property in ViewBag.favoritePropertyList){
                                            if(property.PropertyId == @item.Id){
                                                isFavorite = true;
                                            }
                                        }
                                        <form asp-controller="Home" asp-action="AddFavoriteProperty" method="post" id="favorite-form">
                                            <input type="hidden" value=@item.Id name="favoritePropertyId" id="favoritePropertyId">
                                            @if(isFavorite == true){
                                                <input type="submit" class="btn btn-outline-warning" style="color:#ff6500" name="favoriteButton" value="Remove From Favorite">  
                                            }else{
                                                <input type="submit" class="btn btn-outline-warning" style="color:#ff6500" name="favoriteButton" value="Add To Favorite">
                                            }
                                        </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="blank-space-section wf-section"></div>

<div class="about-us-section wf-section">
    <div class="container w-container">
        <div class="about-wrapper">
            <div class="about-left-content">
                <div class="about-left-image">
                    <img src="https://assets.website-files.com/62c3b7111a998e227c8476ea/62c548db5edd0e3dd7a798cf_collection-image.png"
                        alt="About Image" class="about-image" />
                </div>
            </div>
            <div class="about-right-content">
                <div class="section-title">
                    <div class="subtitle">Why Choose us</div>
                    <div class="title-block">
                        <h2 class="title">We Provide Right Choice of Properties that You need <span
                                class="section-color-shape">.</span>
                        </h2>
                    </div>
                    <p class="section-details">Huge number of propreties availabe here for buy, sell and Rent. Also you
                        find here co-living property so lots opportunity you have to choose here and enjoy huge
                        discount.</p>
                </div>
                <div class="about-content">
                    <div class="about-single-content">
                        <div class="about-content-icon">
                            <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/622717c5735aef1c45491454_about-icon.svg"
                                loading="lazy" alt="About Icon" class="about-icon-image" />
                        </div>
                        <div class="about-content-text">
                            <h3 class="about-content-title">Budget Friendly</h3>
                            <p class="about-content-details">Properties are most budget friendly so you have opportunity
                                to find the best one</p>
                        </div>
                    </div>
                    <div class="about-single-content">
                        <div class="about-content-icon">
                            <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/622717c4a324803bbe861cc6_about-icon-2.svg"
                                loading="lazy" alt="About Icon" class="about-icon-image" />
                        </div>
                        <div class="about-content-text">
                            <h3 class="about-content-title">Prime Location</h3>
                            <p class="about-content-details">Properties are most budget friendly so you have opportunity
                                to find the best one</p>
                        </div>
                    </div>
                    <div class="about-single-content">
                        <div class="about-content-icon">
                            <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/622717c5735aef1c45491454_about-icon.svg"
                                loading="lazy" alt="About Icon" class="about-icon-image" />
                        </div>
                        <div class="about-content-text">
                            <h3 class="about-content-title">Trusted By Thousand</h3>
                            <p class="about-content-details">Properties are most budget friendly so you have opportunity
                                to find the best one</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* ----REVIEW----- *@
<div class="testimonial-section wf-section">
    <div class="container w-container">
        <div class="testimonial-wrapper">
            <div class="testimonial-slider-wrapper w-slider">
                <div class="testimonial-slider-inner w-slider-mask">
                    <div class="testimonial-slider-item w-slide">
                        <div class="testimonial-content-side">
                            <div class="testimonial-image-group">
                                <div class="testimonial-background-shape">
                                    <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/62298259e5963a18b540bb3d_shape.png"
                                        alt="Shape Image" class="testimonial-shape-image" />
                                </div>
                            </div>
                            <div class="testimonial-content mb-5">
                                <p class="testimonial-text">Bary do a great job to find the perfect home. It’s very easy
                                    for every one to buy, sell or rent property we belive they continure their great
                                    service.</p>
                                <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e830f7eb91e307056_quote.svg"
                                    loading="lazy" alt="Quote Icon" class="quote-icon" />
                                <div class="testimonial-meta-content">
                                    <h4 class="client-name">Oliver Stephen</h4>
                                    <div class="client-rating">
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial-content">
                                <p class="testimonial-text">Bary do a great job to find the perfect home. It’s very easy
                                    for every one to buy, sell or rent property we belive they continure their great
                                    service.</p>
                                <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e830f7eb91e307056_quote.svg"
                                    loading="lazy" alt="Quote Icon" class="quote-icon" />
                                <div class="testimonial-meta-content">
                                    <h4 class="client-name">Albert S. Smith</h4>
                                    <div class="client-rating">
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/6229834e5c4b71fb1e4ddb68_star.svg"
                                            loading="lazy" alt="Rating Star" class="rating-star" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-title-side">
                <div class="section-title testimonial-title">
                    <div class="subtitle">Testimonial <br />
                    </div>
                    <div class="title-block">
                        <h2 class="title">Reviews from our happy Clients <span class="section-color-shape">.</span>
                            <br />
                        </h2>
                    </div>
                    <p class="section-details">Huge number of propreties availabe here for buy, sell and Rent. Also you
                        find here co-living property so lots opportunity you have to choose here and enjoy.</p>
                </div>
            </div>
        </div>
    </div>
</div>